*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

#app{
    height: 100vh;
    width: 100vw;
    font-family: 'lato';
    display: flex;
    flex-direction: column;
    background-color: darkgray;
    
}
header{
    width: 100%;
    height: 10%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;

}

.top_bar{
    width: 60%;
    img{
        height: 50px;
    }
}

main{
    height: 90%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cds_box{
    width: 60%;
    height: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    overflow-y: scroll;
}

.cds_container{
    height: 55%;
    width: 28%;
    background-color: black;
    margin: 10px 0;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    img{
        height: 65%;
    }
}